nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba (0, 0, 0, 0.1);
  border-style: solid;
  border-color: red;
}

nav menu {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
